<?xml version="1.0" encoding="UTF-8"?>
<!-- some of the tests we execute do generate php warnings, sadly... we have to swallow them -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="Tests/bootstrap.php" convertNoticesToExceptions="false" convertWarningsToExceptions="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory>./Resources</directory>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <!-- the following have been moved to env vars, as they might vary depending on setups -->
    <!--<server name="KERNEL_CLASS" value="App\Kernel" />
        <server name="APP_ENV" value="behat" />-->
    <server name="APP_DEBUG" value="false"/>
  </php>
  <!-- code coverage reporting -->
  <testsuites>
    <testsuite name="TanoConsulting Ibexa Migration Bundle Test Suite">
      <directory>./Tests/phpunit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
